    @page "/crear/bodega"
    @inject HttpClient Http
    @inject NavigationManager UriHelper

    <h3>Crear Bodega</h3>

    <FormularioBodega TextoBoton="Crear Bodega" OnValidSubmit="@CrearBodegaNueva" Bodega="@bodega" />

    @code { 
        
        Bodega bodega = new Bodega();

        async Task CrearBodegaNueva()
        {
            await Http.PostAsJsonAsync("api/bodega/create", bodega);
            UriHelper.NavigateTo("bodega/index");
        }
    }
